<html>
<body>

<h1>Katie</h1>
<img src="/assets/self.jpg">
<h2>Danville, CA</h2>
<h3>Sophomore</h3>
<h4><bold>I like hockey</bold><h4>
<h5>I'm looking forward to learning how to build unique websites!<h5>
</body>
</html>